<div class="data-container">
  <h3 class="container-title">Today's Highlights</h3>

  <div class="weather-data-box">
    <div class="weather-data-item">
      <span class="name">Humidity</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">humidity_percentage</span>
        <span class="value">80 %</span>
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Pressure</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">airwave</span>
        <span class="value">1024 hPa</span>
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Visibility</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">visibility</span>
        <span class="value">10 km</span>
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Feels like</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">thermostat</span>
        <span class="value">20 °C</span>
      </div>
    </div>
  </div>
</div>

<div class="data-container">
  <h3 class="container-title">Sunrise & Sunset</h3>
  <div class="weather-data-box">
    <div class="weather-data-item flex-custom">
      <span class="material-symbols-outlined icon">sunny</span>
      <span class="value">7:48</span>
    </div>

    <div class="weather-data-item flex-custom">
      <span class="material-symbols-outlined icon">bedtime</span>
      <span class="value">18:54</span>
    </div>
  </div>
</div>
