<div class="weather-now-data">
  <div class="weather-status">
    <span class="temperature">20 °C</span>
    <span class="description">Cloudy</span>
  </div>
  <img alt="weather" src="assets/02d.png" />
</div>
<div class="weather-now-datelocation">
  <div class="weather-now-date">
    <span class="material-symbols-outlined icon">calendar_month</span>
    <span class="data">Wednesday, 1Mar</span>
  </div>
  <div class="weather-now-location">
    <span class="material-symbols-outlined icon">location_on</span>
    <span class="data">Wednesday, 1Mar</span>
  </div>
</div>
