<div class="data-container">
  <h3 class="container-title">Today's Highlights</h3>

  <div class="weather-data-box">
    <div class="weather-data-item">
      <span class="name">Humidity</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">humidity_percentage</span>
        @if (!isLoading()) {
          <span class="value">{{ weatherData()!.data!.humidity }} %</span>
        } @else {
          <app-skeleton class="value" [style]="StyleEnum.TextMedium"/>
        }
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Pressure</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">airwave</span>
        @if (!isLoading()) {
          <span class="value">{{ weatherData()!.data!.pressure }} hPa</span>
        } @else {
          <app-skeleton class="value" [style]="StyleEnum.TextMedium"/>
        }
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Visibility</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">visibility</span>
        @if (!isLoading()) {
          <span class="value">{{ weatherData()!.data!.visibility }} km</span>
        } @else {
          <app-skeleton class="value" [style]="StyleEnum.TextSmall"/>
        }
      </div>
    </div>

    <div class="weather-data-item">
      <span class="name">Feels like</span>
      <div class="weather-data-item-info">
        <span class="material-symbols-outlined icon">thermostat</span>
        @if (!isLoading()) {
          <span class="value">{{ weatherData()!.data!.feels_like }} °C</span>
        } @else {
          <app-skeleton class="value" [style]="StyleEnum.TextSmall"/>
        }
      </div>
    </div>
  </div>
</div>

<div class="data-container">
  <h3 class="container-title">Sunrise & Sunset</h3>
  <div class="weather-data-box">
    <div class="weather-data-item flex-custom">
      <span class="material-symbols-outlined icon">sunny</span>
      @if (!isLoading()) {
        <span class="value">{{ weatherData()!.location!.sunrise | date:"HH:mm" }}</span>
      } @else {
        <app-skeleton class="value" [style]="StyleEnum.TextMedium"/>
      }
    </div>

    <div class="weather-data-item flex-custom">
      <span class="material-symbols-outlined icon">bedtime</span>
      @if (!isLoading()) {
        <span class="value">{{ weatherData()!.location!.sunset | date:"HH:mm"}}</span>
      } @else {
        <app-skeleton class="value" [style]="StyleEnum.TextMedium"/>
      }
    </div>
  </div>
</div>
