@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  --action-color: #3d405b;
  --primary-color-light: #ffffff;
  --primary-color-dark: #535353;
  --secondary-color: #626262;

  --accent-color: #ece9d4;
  --backgorund-light: #f4f1de;
  --background-dark: #d4d1be;

  --text-large: 1.75rem;
  --text-medium: 1.25rem;
  --text-small: 1rem;

  --icon-size-large: 2.75rem;
  --icon-size-medium: 2.5rem;
  --icon-size-small: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1em;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  background-color: var(--background-dark);
  overflow-x: hidden;
}

.material-symbols-outlined {
  font-size: var(--icon-size-small);
  color: var(--primary-color-dark);
}

.container-title {
  font-size: var(--text-medium);
  font-weight: 400;
  color: var(--secondary-color);
}

//STYLE BOTH FORECAST
.forecast {
  padding-bottom: 1rem;
}

.forecast-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content;
  grid-auto-columns: 20%;

  overflow-x: auto;
  overscroll-behavior-x: contain;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 0.5rem;
}

.snap-inline > * {
  scroll-snap-align: start;
}

.weather-forecast-item {
  margin: 0 5% 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  padding: 1rem 0;
  background-color: var(--accent-color);
  border-radius: 1rem;

  * {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  span {
    color: var(--primary-color-dark);
  }

  .day {
    font-size: var(--text-small);
  }

  .temperature {
    font-size: calc(var(--text-small) + 0.1rem);
    font-weight: 500;
  }

  .image {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
    object-fit: contain;
  }
}

.forecast-container::-webkit-scrollbar {
  height: 0.8rem;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--backgorund-light);
  border: 0.1rem solid var(--background-dark);
}

@media (max-width: 1580px) {
  :root {
    --text-large: 1.5rem;
    --text-medium: 1.2rem;
    --text-small: 0.8rem;

    --icon-size-large: 2.25rem;
    --icon-size-medium: 2rem;
    --icon-size-small: 1.25rem;
  }
}

@media (max-width: 1280px) {
  :root {
    --text-large: 1.25rem;
    --text-medium: 1rem;
    --text-small: 0.75rem;

    --icon-size-large: 1.75rem;
    --icon-size-medium: 1.75rem;
  }

  .forecast-container {
    grid-auto-columns: 25%;
  }
}

@media (max-width: 770px) {
  :root {
    --text-small: 0.9rem;
  }

  .weather-forecast-item {
    margin: 0 10% 10%;
  }
}

@media (max-width: 500px) {
  .forecast-container {
    grid-auto-columns: 33%;
  }
}
