<h3 class="container-title forecast">Weekly Forecast</h3>
<div class="forecast-container snap-inline">
  @if (weatherForecast() != undefined) {
    @for (
      weatherForecastItem of weatherForecast();
      track weatherForecastItem.time
    ) {
      <div class="weather-forecast-item">
        <span class="day">{{ weatherForecastItem.time | date: "cccc" }}</span>
        <img class="image" src="assets/{{ weatherForecastItem.desc.icon }}.svg" alt="weather" />
        <span class="temperature">{{ weatherForecastItem.data.temp }} °C</span>
      </div>
    }
  } @else {
    @for (number of numberArray; track number) {
      <div class="weather-forecast-item">
        <app-skeleton class="day" [style]="StyleEnum.TextMedium" />
        <app-skeleton class="image" [style]="StyleEnum.Image" />
        <app-skeleton class="temperature" [style]="StyleEnum.TextSmall" />
      </div>
    }
  }
</div>
