<h3 class="container-title forecast">Weekly Forecast</h3>
<div class="forecast-container snap-inline">
  @if (!isLoading()) {
    @for (weatherForecastItem of weatherForecastDays(); track weatherForecastItem.time) {
      <div class="weather-forecast-item">
        <span class="day">{{ weatherForecastItem.time | date:"cccc" }}</span>
        <img src="assets/02d.png" alt="weather"/>
        <span class="temperature">{{ weatherForecastItem.data.temp }} °C</span>
      </div>
    }
  } @else {
    @for (number of Array(6); track number) {
      <div class="weather-forecast-item">
        <app-skeleton [style]="{width: '4rem', height: '1rem'}"/>
        <app-skeleton [style]="{width: '2rem', height: '2rem'}"/>
        <app-skeleton [style]="{width: '4rem', height: '1.25rem'}"/>
      </div>
    }
  }
</div>
