:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;

  width: 80%;
  height: 90vh;

  padding: 2rem 5rem;
  border-radius: 2rem;
  background-color: var(--backgorund-light);
}

app-weather-now {
  grid-area: now;
}

app-weather-data {
  grid-area: data;
}

app-weekly-forecast {
  grid-area: weekly;
}

app-hourly-forecast {
  grid-area: hourly;
}

.container {
  flex: 1;
  display: grid;

  grid-template-areas:
    'now now now data data'
    'now now now data data'
    'now now now data data'
    'weekly weekly weekly hourly hourly'
    'weekly weekly weekly hourly hourly';
}
