<div class="weather-now-data">
  <div class="weather-status">
    @if (!isLoading()) {
      <span class="temperature">{{ weatherCurrent()!.data!.temp }} °C</span>
      <span class="description">{{ weatherCurrent()!.desc!.description }}</span>
    } @else {
      <app-skeleton class="temperature" [style]="StyleEnum.TextMedium" />
      <app-skeleton class="description" [style]="StyleEnum.TextSmall" />
    }
  </div>
  @if (!isLoading()) {
    <img class="image" alt="weather" src="assets/{{ weatherCurrent()!.desc!.icon }}.svg" />
  } @else {
    <app-skeleton class="image" [style]="StyleEnum.Image" />
  }
</div>
<div class="weather-now-datelocation">
  <div class="weather-now-date">
    <span class="material-symbols-outlined icon">calendar_month</span>
    @if (!isLoading()) {
      <span class="data">{{ currentDate | date: "cccc, d MMM" }}</span>
    } @else {
      <app-skeleton class="data" [style]="StyleEnum.TextMedium" />
    }
  </div>
  <div class="weather-now-location">
    <span class="material-symbols-outlined icon">location_on</span>
    @if (!isLoading()) {
      <span class="data"
        >{{ weatherCurrent()!.location!.city }},
        {{ weatherCurrent()!.location!.country }}</span
      >
    } @else {
      <app-skeleton class="data" [style]="StyleEnum.TextSmall" />
    }
  </div>
</div>
