:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weather-now-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .image {
    height: 12rem;
    width: 12rem;
    object-fit: contain;
  }

  .weather-status {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    span {
      display: block;
      font-weight: 800;
      color: var(--action-color);
    }

    .temperature, .description {
      width: 100%;
    }

    .temperature {
      font-size: 7rem;
    }

    .description {
      font-size: 1.8rem;
    }
  }
}

.weather-now-datelocation {
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0;

  span {
    color: var(--secondary-color);
  }

  div {
    display: flex;
    align-items: center;

    gap: 1.5rem;
  }

  .icon {
    font-size: var(--icon-size-small);
  }

  .data {
    flex-grow: 1;
    font-size: 1.1rem;
  }
}

@media (max-width: 1580px) {
  .weather-now-data {
    .temperature {
      font-size: 5rem !important;
    }

    .image {
      height: 8rem;
      width: 8rem;
    }
  }
  .weather-now-datelocation {
    .data {
      font-size: 1rem;
    }
  }
}

@media (max-width: 870px) {
  .weather-now-data {
    .temperature {
      font-size: 4rem !important;
    }

    .description {
      font-size: 1.25rem !important;
    }

    .image {
      height: 6rem;
      width: 6rem;
    }
  }
  .weather-now-datelocation {
    .data {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 770px) {
  .weather-now-data {
    .temperature {
      font-size: 5rem !important;
    }

    .description {
      font-size: 2rem !important;
    }

    .image {
      height: 8rem;
      width: 8rem;
    }
  }
  .weather-now-datelocation {
    .data {
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .weather-now-data {
    flex-direction: column;
    text-align: center;
  }
}
