<nav>
  <div class="header">
    <h1>WeatherWiz</h1>
    <span class="material-symbols-outlined">flare</span>
  </div>
  <div class="search">
    <span class="material-symbols-outlined">search</span>
    <input
      #cityInput
      (keydown.enter)="onSubmit()"
      [(ngModel)]="onCityChange(cityInput.value)"
      placeholder="Search city..."
      type="text"
    />
  </div>
  <button class="location">
    <span class="material-symbols-outlined">location_on</span>
    <p>Current location</p>
  </button>
</nav>
